html, body {
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: row;
    flex: 1;
    overflow-x: hidden;
}

@media only screen and (min-width: 320px) {
    header ul h1 h2 {
      display: flex; 
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }
}

@font-face {
  font-family: 'Syne', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
}

@font-face {
   font-family: "Merriweather", serif;
   src: url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
}

body {
   margin: 0;
   display: flex;
   flex-direction: column;
 }

h1 {
   text-align: center;
   font-family: "Syne"; 
   font-size: 5rem;
   color: #A9A9A9;
}

h2 {
   text-align: center;
   color: #800000;
   font-size: 1.5rem;
   font-family: "Merriweather";
   
}

h3 {
   text-align: center;
   font-family: "Merriweather";
   padding-top: 20px;
   font-size: 30px;
   font-weight: bold;
   color: #800000;
}

h4 {
   text-align: center;
   font-family: "Merriweather";
   padding-top: 25px;
   margin-left: 100px;
   margin-right: 100px;
   font-size: 18px;
   font-weight: bold;
   color: #800000;
   margin-block-start: 0;
   margin-block-end: 0;
}

p {
   text-align: center;
   font-family: "Merriweather";
}

table {
   align-items: center;
   font-family: "Merriweather";
   background-color: rgb(128,128,128, 0.75);
   color: #FFFFFF;
   margin-left: 500px;
   margin-bottom: 50px;
   border-radius: 6px;
}

 ul {
   list-style-type: none;
   overflow: hidden;
   background-color: #808080;
   position: fixed;
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: space-evenly;
   margin-left: 0;
 }

 li {
   float: center;
   font-family: "Merriweather";
 }

 a {
   display: inline-flex;
   padding: 4px;
   font-family: "Merriweather";
   text-decoration: none;
 }

 li a {
   text-align: center;
   text-decoration: none;
   padding: 14px 16px;
   color: #FFFFFF;
   font-family: "Merriweather";
 }

 li a:hover {
   background-color: #FFC0CB;
 }

 hr {
   border:none;
   border-top:8px dashed #FFC0CB;
   color:#FFC0CB;
   background-color:#FFC0CB;
   height:3px;
   width:50%;
   align-items: center;
 }

 .introductoryPage {
   width: 100%;
   height: auto;
   background-image: url("images/backgroundImgIntro-min.jpeg");
   padding-top: 100px;
   padding-bottom: 210px;
   display: flex;
 }

 .about {
   width: auto;
   height: auto;
 }

 .experience {
   width: auto;
   height: auto;
 }

 .education {
   width: auto;
   height: auto;
 }

 .skills {
   width: auto;
   height: auto;
 }

 .contact {
   width: auto;
   height: auto;
 }

 .icon {
   width: 200px;
   align-items: center;
   margin-left: 600px;
   margin-right: 600px;
 }

 .skillsIcon {
   width: 200px;
   align-items: center;
   margin-left: 650px;
   margin-right: 400px;
 }

 .socialMedia {
    width: 60px;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
 }
 
 #main {
    overflow-x: hidden;
 }

 #navbar {
   width: 100%;
   margin-top: 0;
   display: block;
   font-size: 18px;
 }

 #intro {
   justify-content: center;
   align-items: center;
   margin: 100px;
   padding: 50px;
   display: flex;
   box-sizing: inherit;
   background-color: rgb(255, 255, 255, 0.8)
 }

 #about {
    padding-top: 20px; 
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 100px; 
    margin-left: 100px;
    background-color: rgb(128,128,128, 0.75);
    color: #FFFFFF;
    border-radius: 6px;
 }

 #container {
   width: 100%;
   margin: 0;
   padding: 0;
   background-image: url("images/backgroundImgBody-min.jpeg");
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 #experience {
    margin-left: 300px;
    margin-right: 300px;
 }

 #education {
    margin-right: 450px;
 }

 #skills {
    width: 300px;
    margin-right: 600px;
    margin-left: 600px;
    padding-left: 50px;
    padding-right: 50px;
 }

 #contact {
    margin-right: 400px;
    margin-left: 400px;
 }

 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(255,0,0, 0.75)
  color: #FFFFFF;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #808080;

 #foot {
    position:absolute;
    bottom: 0;
    height: 200px;
    background-color: #808080;
    width: 100%;
}
