* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 992px) {
    header ul {
      display: flex; 
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }
}

@font-face {
  font-family: "Sacramento", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
}

@font-face {
   font-family: "Merriweather", serif;
   src: url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
}

body {
   margin: 0;
   display: flex;
   flex-direction: row;
 }

h1 {
   text-align: center;
   font-family: "Sacramento"; 
   font-size: 40px;
   margin-top: 200px;
}

h3 {
   text-align: center;
   font-family: "Merriweather";
   padding-top: 20px;
   font-size: 30px;
   font-weight: bold;
}

p {
   text-align: center;
   font-family: "Merriweather";
}

table {
   align-items: center;
   font-family: "Merriweather";
   background-color: rgba(255,255,255, 0.7);
   margin-left: 350px;
   margin-bottom: 50px;
}

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #808080;
   position: fixed;
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: space-evenly;
   margin-block-start: 0;
   margin-block-end: 0;
   padding-inline-start: 0;
 }

 li {
   float: center;
   font-family: "Merriweather";
 }

 a {
   display: inline-grid;
   padding: 4px;
   font-family: "Merriweather";
 }

 li a {
   text-align: center;
   text-decoration: none;
   padding: 14px 16px;
   color: white;
   font-family: "Merriweather";
 }

 li a:hover {
   background-color: pink;
 }

 hr {
   border-top:1px dotted; 
   border-style: none none dotted;
   color: #808080;
   background-color: #808080;
 }

 .introductoryPage {
   width: 100%;
   height: auto;
   background-image: url("images/backgroundImgIntro-min.jpeg");
   padding-top: 100px;
   padding-bottom: 100px;
   display: flex;
 }

 .aboutPage {
   width: 100%;
   height: auto;
 }

 .experience {
   width: 100%;
   height: auto;
 }

 .education {
   width: 100%;
   height: auto;
 }

 .skills {
   width: 100%;
   height: auto;
 }

 .contact {
   width: 100%;
   height: auto;
 }

 .icon {
   width: 200px;
   align-items: center;
   margin-left: 400px;
 }

 .socialMedia {
    width: 80px;
    margin-left: 350px;
    margin-right: 350px;
    display: block;
 }

 #navbar {
   width: 100%;
   margin-top: 0;
   display: block;
   font-size: 18px;
   padding-left: 10px;
 }

 #title {
   padding-bottom: 20px;
 }

 #about {
    padding-top: 20px; 
    padding-bottom: 20px;
    margin-left: 300px; 
    margin-right: 300px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255, 0.7);
 }

 #container {
   width: 100%;
   background-image: url("images/backgroundImgBody-min.jpeg");
   
 }

 #foot {
    position:absolute;
    bottom: 0;
    height: 200px;
    background-color: #808080;
}
