 body {
   margin: 0;
   display: inline-grid;
 }

h1 {
   text-align: center;
}

h3 {
   text-align: center;
}

p {
   text-align: center;
}

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #808080;
   position: fixed;
   width: 100%;
 }

 li {
   float: right;
 }

 a {
   display: block;
   padding: 8px;
 }

 li a {
   text-align: center;
   text-decoration: none;
   padding: 14px 16px;
   color: white;
 }

 li a:hover {
   background-color: pink;
 }

 .introductoryPage {
   width: 100%;
   background-image: url(images/backgroundImgIntro.jpeg); 
   height: auto;
 }

 .aboutPage {
   width: 100%;
   height: auto;
 }

 .experience {
   width: 100%;
   height: auto;
 }

 .education {
   width: 100%;
   height: auto;
 }

 .skills {
   width: 100%;
   height: auto;
 }

 .contact {
   width: 100%;
   height: auto;
 }

 .icon {
   width: 50%;
 }

 #navbar {
   width: 100%;
   margin-top: 0;
 }

 #container {
   width: 100%;
   height: auto;
   background-image: url(backgroundImgBody.jpeg);
 }

 #foot {
    position:absolute;
    bottom: 0;
}
